@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --color: #00d5ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--color);
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

h1 {
    line-height: 1.4;
}

.btn {
    border: 0;
    background: #fff;
    color: var(--color);
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 8px;
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: none;
}

/* Choose character */
.screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: margin 0.5s ease-out;
}


.screen.up {
    margin-top: -100vh;
}

.insects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.insects-list li {
    margin: 15px;
    list-style: none;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect-btn:hover {
    background-color: #fff;
    color: #111;
    border: 2px solid red;
}

.choose-insect-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

/* Container Game */
.game-container {
    position: relative;
    z-index: 1;
}

.dark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(102, 101, 101, 0.8);
    display:none;
    opacity: 0.5;
}

.game-container .y-n {
    padding: 10px 30px;
    font-family: inherit;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}

.game-container .y-n:active {
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
    color: rgb(255, 208, 0);
}


.time,
.score,
.record {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.record{
    right: 20px;
    top: 60px;
}

.message {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 25px;
    z-index: 10;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: trasnform 0.4s ease-in;
    z-index: 100;
}

.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%);
}

.insect {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 100px;
    height: 100px;
}